<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Message Queuing Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.MsmqTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.MsmqTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" queuePath=".\Private$\AnotherQ" formatter="Binary Log Message Formatter" recoverable="true" useAuthentication="true" useDeadLetterQueue="true" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="%LOCALAPPDATA%\Aptech\log\traceWindows.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="20000" timeStampPattern="dd-MM-yyyy" maxArchivedFiles="2" />
      <add name="Error File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="%LOCALAPPDATA%\Aptech\log\errorWindows.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="20000" timeStampPattern="dd-MM-yyyy" maxArchivedFiles="2" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.BinaryLogFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Binary Log Message Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{message}&#xD;&#xA;" name="SimpleMessageFormatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Priority Filter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Category Filter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" enabled="true" name="Logging Enabled Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <!--<add name="Message Queuing Trace Listener" />-->
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <!--<add name="Message Queuing Trace Listener" />-->
          <add name="Error File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <!--<add name="Message Queuing Trace Listener" />-->
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="Message Queuing Trace Listener" />-->
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Data Access Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5000" severity="Error" title="Aptech.GameChanger Data Access Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured at offline data access layer. Please contact administratorwith error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.DataAccessException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Business Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5001" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured at business layer and has been logged.Please advise your administrator and provide them with this error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.BusinessException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Global Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5002" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured at Presentation. Please advise administrator with error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.AppException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Presentation Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5003" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured at Presentation layer and has been logged.Please advise your administrator and provide them with this error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.PresentationException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Exam Task Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5009" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured background task and has been logged.Please advise your administrator and provide them with this error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.ExamTaskException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="ExamGateway Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!--None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="5009" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) An error occured at ExamGateWay  and has been logged.Please advise your administrator and provide them with this error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.ExamGatewayException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="WebApi Client Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!-- postHandlingAction property Keep always None.  Supported Values are None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="6008" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) Network Access Error or An Error Occurred while accessing WebAPI Layer. Please contact your administrator and provide them with this error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.WebApiClientException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Stop Player Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!-- postHandlingAction property Keep always None.  Supported Values are None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="6008" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) Error occurred while accessing or saving to offline storage. Please contact system administrator with error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.StopPlayerException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="Download Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <!-- postHandlingAction property Keep always None.  Supported Values are None , NotifyRethrow , ThrowNewException-->
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="Error" eventId="6008" severity="Error" title="Aptech.GameChanger Business Exception" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="5" />
              <add name="Replace Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.ReplaceHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Culture=neutral, PublicKeyToken=31bf3856ad364e35" exceptionMessage="(Examination Player) Error occurred while downloading. Please contact system administrator with error code: {handlingInstanceID}" replaceExceptionType="Aptech.GameChanger.Exam.Framework.Exceptions.DownloadException, Aptech.GameChanger.Exam.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="MSSqlConnection" />
  <connectionStrings>
    <!--<add name="MSSqlConnection" connectionString="wHi7ltZ1RzHg2f/EfxeDp06peFZChtOinOFbmfZY9FiH0IhlIegiOgEnByvqfP94mt1ybBhLhuBfv5P/yHiOB8Lmkk6hqfLslgDc7HZCl3nt73yiz8rLABFkROH41dW832oljf3pYnfQYtRRBFVMdcZcxyPh+WGC539bJS+2aksFyGtgGTUqvBq+7eEyY2YaOQhUhiw1edvsw88w7MiSUHKVNFzGYjj+s7wyQUerm4STG+OiMzKrEo14H2hs6GB7H984R4MLStOxmd57i4e+MJB+NXZboU9AIXF4Mqhxswsd7rGW7XuO2b0sxIOdLPx6LmnLLuOE1UQmrLB23U1rUWJyXPDnTGzmzgZfp2AR27LcAv+VDuUj3GVG/IGpcMI99BYl+wpyiwaRwzitUH645+ZO4pOD9re579tPfMdOD8Kb8kthQy5NH5gihU/4BOxm4AWK4ZgeD+Ybd3C7NrWuvry1Q/YUH58R1oHInX82QgQ=" providerName="System.Data.SqlClient" />-->
    <!--<add name="MSSqlConnection" connectionString="Data Source= KCMHPSQL12;Initial Catalog=GameChangerIntegration1;Persist Security Info=True;User ID=Aptech;Password=sys@12345" providerName="System.Data.SqlClient" />-->
    <!--<add name="MySQLConnection" connectionString="Data Source= KCMHPSQL12;Initial Catalog=GamechangerDevelopment;Persist Security Info=True;User ID=Aptech;Password=sys@12345;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="SqLiteConnection" connectionString="Data Source=D:\Sharjeel\Sqlite Database\SQLiteGameChanger.sqlite" providerName="System.Data.SQLite" />-->
    <!--<add name="MSSqlConnection" connectionString="Data Source=SML-0384\SQLEXPRESS;Initial Catalog=GamechangerDevelopment;Persist Security Info=True;User ID=sa;Password=sys@12345" providerName="System.Data.SqlClient" />
    <add name="MySQLConnection" connectionString="Data Source= SML-0384\SQLEXPRESS;Initial Catalog=GamechangerDevelopment;Persist Security Info=True;User ID=sa;Password=sys@12345;Allow User Variables=True" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="IpAddress" value="localhost" />
    <add key="TimeZoneId" value="India Standard Time" />

    <!--<add key="WebApiUrl" value="http://localhost:46001" />
    <add key="DownloadApiUrl" value="http://localhost/ExamDownload" />-->

    <add key="ExamVirtualDirectory" value="attestgc" />
    <add key="WebApiVirtualDirectory" value="conductexam" />
    <add key="DownloadApiVirtualDirectory" value="examdownload" />
    
    <add key="ManifestFilesChunkCount" value="2" />
    <!--Folder Management -->
    <add key="UserAppDataFolderName" value="Aptech" />
    <add key="CandidatePhotoPath" value="CandidatePhoto" />
    <add key="AssessmentRepositoryPath" value="AssessmentRepository" />
    <add key="QuestionRepositoryPath" value="QuestionRepository" />
    <add key="PaperSetPath" value="PaperSet" />
    <!--End Folder Management -->
    <!--ServiceType = webapi for connecting to  web api layer  -->
    <!--ServiceType = mockdata for facade  -->
    <add key="ServiceType" value="webapi" />
    <!--ApiType = database for connecting to  database -->
    <!--ApiType = mockdata for connecting to  mock database  -->
    <add key="MockType" value="database" />
    <add key="LogoPath" value="Logo" />
    <add key="CandidatePhotoPath" value="CandidatePhoto" />
    <!--false = hide javascript error ; true = show javascript error  -->
    <add key="HandleJavascriptError" value="false" />
    <!--Value to download assessment which is before and after e.g. 30 minutes-->
    <add key="AssessmentDownloadDuration" value="30" />
    <!--Download in every 5 minutes-->
    <add key="AssessmentDownloadIntervalTime" value="5" />
    <add key="SecureBrowser" value="true" />
    <add key="SecureNetwork" value="false" />
    <add key="SecureNetLevel" value="1" />
    <add key="SecureNetLevelK" value="3" />
    <add key="getPassValue" value="StandaloneVPN"/> 
    <!-- Don't Change the key-->
    <!--<add key="SecureBrowserKey" value="2wVs90uJ26xGDVMTB5s6X3mS9S6k+u+gsEEYm4KvvlmSjPr39OuZajQIblO97Vr5HjiFQ6Hx1Wt0+lxbnhLdzDfKb1t8OCwS1nthJ2Km398=" />-->
    <!--<add key="SecureBrowserKey" value="S6fE6jmDyeEjzINv5pEglO0LBVsRfnDEecBKvES/Mss2Kz5/EEhlk6wzsgbK1CE+zxUoQCQp1Iiy9kzirnY510VoaLjOGGY8BgR0BiVdbj0=" />-->
    <!--<add key="SecureBrowserKey" value="TCBF9KTgVwfOF5BeSOMXrqRP8RIOMedp06APx8kee1dqB6DZs/iMeKELumoVRh2Kr6QDw4at6K19MD1OsSUOEtf9VrWKg/GrQ3/wKm7cF6Y=" />-->
    <add key="SecureBrowserKey" value="BgsR93Fp8dr6ICUZUAp8MN5VJyrjyDIqEQi94WzCRqy5GL9SJfFgk92Xx0XLebW0X+WbU07AJc5JZn39R7uPuAehuxSB/3YweqMsMtyMhQA=" />
    <!-- Secure Browser Monitoring Time in milliseconds -->
    <add key="SecureBrowserMonitoringTime" value="120000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.data>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>